/*! CSS Used from: https://edeline.ru/nft-demo/css/style.css ; media=all */
@media all{
    :root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#ffffff;--gray:#4e5d78;--gray-dark:#343a40;--primary:#0684fe;--secondary:#f5f6f8;--success:#35ac80;--info:#5d3fff;--warning:#f7b731;--danger:#fe3f3e;--light:#f8f9fa;--dark:#131b24;--black:#000000;--white:#ffffff;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";--font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}
    *,*::before,*::after{box-sizing:border-box;}
    html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
    footer,header,nav{display:block;}
    body{margin:0;font-family:"Nunito Sans";font-size:1rem;font-weight:600;line-height:1.5;color:#000000;text-align:left;background-color:#ffffff;}
    hr{box-sizing:content-box;height:0;overflow:visible;}
    h1,h2,h5{margin-top:0;margin-bottom:0.5rem;}
    p{margin-top:0;margin-bottom:1rem;}
    ul{margin-top:0;margin-bottom:1rem;}
    b{font-weight:bolder;}
    a{color:#007bff;text-decoration:none;background-color:transparent;}
    a:hover{color:#0056b3;text-decoration:underline;}
    img{vertical-align:middle;border-style:none;}
    svg{overflow:hidden;vertical-align:middle;}
    label{display:inline-block;margin-bottom:0.5rem;}
    button{border-radius:0;}
    button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
    button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
    button{overflow:visible;}
    button{text-transform:none;}
    button,[type="button"]{-webkit-appearance:button;}
    button::-moz-focus-inner,[type="button"]::-moz-focus-inner{padding:0;border-style:none;}
    h1,h2,h5{margin-bottom:0.5rem;font-weight:600;line-height:1.5;}
    h1{font-size:2.5rem;}
    h2{font-size:2rem;}
    h5{font-size:1.25rem;}
    hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0, 0, 0, 0.1);}
    .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    .row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col,.col-sm-3,.col-sm-4,.col-md-6,.col-lg-5{position:relative;width:100%;padding-right:15px;padding-left:15px;}
    .col{flex-basis:0;flex-grow:1;max-width:100%;}
    @media (min-width: 576px){
    .col-sm-3{flex:0 0 25%;max-width:25%;}
    .col-sm-4{flex:0 0 33.33333%;max-width:33.33333%;}
    }
    @media (min-width: 768px){
    .col-md-6{flex:0 0 50%;max-width:50%;}
    }
    @media (min-width: 992px){
    .col-lg-5{flex:0 0 41.66667%;max-width:41.66667%;}
    }
    .btn{display:inline-block;font-weight:400;color:#000000;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.25rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
    @media (prefers-reduced-motion: reduce){
    .btn{transition:none;}
    }
    .btn:hover{color:#000000;text-decoration:none;}
    .btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25);}
    .btn:disabled{opacity:0.65;}
    .btn-info{color:#ffffff;background-color:#5d3fff;border-color:#5d3fff;}
    .btn-info:hover{color:#ffffff;background-color:#3d19ff;border-color:#320cff;}
    .btn-info:focus{color:#ffffff;background-color:#3d19ff;border-color:#320cff;box-shadow:0 0 0 0.2rem rgba(117, 92, 255, 0.5);}
    .btn-info:disabled{color:#ffffff;background-color:#5d3fff;border-color:#5d3fff;}
    .collapse:not(.show){display:none;}
    .nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
    .nav-link{display:block;padding:0.5rem 1rem;}
    .nav-link:hover,.nav-link:focus{text-decoration:none;}
    .navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:1rem 1rem;}
    .navbar .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
    .navbar-brand{display:inline-block;padding-top:0.3125rem;padding-bottom:0.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap;}
    .navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
    .navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
    .navbar-nav .nav-link{padding-right:0;padding-left:0;}
    .navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
    .navbar-toggler{padding:0.25rem 0.75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:0.25rem;}
    .navbar-toggler:hover,.navbar-toggler:focus{text-decoration:none;}
    @media (max-width: 991.98px){
    .navbar-expand-lg>.container{padding-right:0;padding-left:0;}
    }
    @media (min-width: 992px){
    .navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start;}
    .navbar-expand-lg .navbar-nav{flex-direction:row;}
    .navbar-expand-lg .navbar-nav .nav-link{padding-right:0.937rem;padding-left:0.937rem;}
    .navbar-expand-lg>.container{flex-wrap:nowrap;}
    .navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
    .navbar-expand-lg .navbar-toggler{display:none;}
    }
    .navbar-dark .navbar-brand{color:#fff;}
    .navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus{color:#fff;}
    .navbar-dark .navbar-nav .nav-link{color:rgba(255, 255, 255, 0.5);}
    .navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{color:rgba(255, 255, 255, 0.75);}
    .navbar-dark .navbar-toggler{color:rgba(255, 255, 255, 0.5);border-color:rgba(255, 255, 255, 0.1);}
    .card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0, 0, 0, 0.125);border-radius:0.25rem;}
    .card-body{flex:1 1 auto;min-height:1px;padding:1.25rem;}
    .card-title{margin-bottom:0.75rem;}
    .card-text:last-child{margin-bottom:0;}
    .card-img-top{flex-shrink:0;width:100%;}
    .card-img-top{border-top-left-radius:calc(0.25rem - 1px);border-top-right-radius:calc(0.25rem - 1px);}
    .bg-dark{background-color:#131b24!important;}
    .d-none{display:none!important;}
    @media (min-width: 992px){
    .d-lg-none{display:none!important;}
    .d-lg-block{display:block!important;}
    }
    .mt-2{margin-top:0.5rem!important;}
    .my-4{margin-top:1.5rem!important;}
    .my-4{margin-bottom:1.5rem!important;}
    .mr-auto{margin-right:auto!important;}
    .ml-auto{margin-left:auto!important;}
    @media (min-width: 768px){
    .my-md-0{margin-top:0!important;}
    .my-md-0{margin-bottom:0!important;}
    .ml-md-auto{margin-left:auto!important;}
    }
    @media (min-width: 992px){
    .mt-lg-0{margin-top:0!important;}
    }
    @media print{
    *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    img{page-break-inside:avoid;}
    p,h2{orphans:3;widows:3;}
    h2{page-break-after:avoid;}
    body{min-width:992px!important;}
    .container{min-width:992px!important;}
    .navbar{display:none;}
    }
    p{line-height:1.69;}
    .avatar{display:inline-block;width:25px;height:25px;border-radius:50%;font-size:calc(25px * 0.75);line-height:1;border-radius:0.25rem;overflow:hidden;}
    .avatar img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;}
    .avatar-text{background-color:#0684fe;color:#ffffff;font-weight:400;line-height:1;text-align:center;display:inline-flex;justify-content:center;align-items:center;}
    button:focus{outline:none;}
    .btn-rounded{border-radius:24px;}
    .btn{padding:15px 28px;font-weight:700;line-height:1;}
    .lead-footer{padding-top:40px;padding-bottom:40px;}
    .lead-footer P{line-height:1.5;}
    .lead-footer-dark{background:#131b24;color:#ffffff;}
    .lead-footer-dark .lead-social-menu a{color:inherit;display:inline-block;line-height:1;}
    .lead-footer-dark .lead-social-menu a:not(:last-child){margin-right:16px;}
    .lead-footer-dark .lead-social-menu a .feather{height:20px;width:auto;}
    .lead-footer-dark .footer-nav .nav-link{color:inherit;}
    .footer-brand-wrapper{margin-bottom:32px;}
    .footer-text{line-height:1.69;margin-bottom:0;}
    .lead-main-footer{padding-top:100px;padding-bottom:130px;}
    .nav-vertical{flex-direction:column;}
    .nav-vertical .nav-link{padding-left:0;padding-right:0;}
    .footer-nav .nav-link{color:#4e5d78;line-height:1.69;padding-top:0;padding-bottom:0;}
    .lead-social-menu{white-space:nowrap;}
    .lead-social-menu a{color:inherit;display:inline-block;line-height:1;}
    .lead-social-menu a:not(:last-child){margin-right:16px;}
    .lead-social-menu a .feather{height:20px;width:auto;}
    .navbar-dark .navbar-toggler{color:#ffffff;}
    .navbar-dark .navbar-nav .nav-link{color:#ffffff;}
    .navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{color:#ffffff;}
    .navbar-toggler{border:0;}
    .nav-item .btn{margin-left:1rem;margin-right:1rem;}
    .navbar .navbar-nav .nav-link{font-size:1rem;line-height:1.5;padding:0.75rem 0.937rem;}
    }
    /*! CSS Used from: https://edeline.ru/nft-demo/css/styles.css ; media=all */
    @media all{
    .sec-1{padding-top:50px;display:flex;flex-wrap:wrap;justify-content:center;}
    .sec-1>.card{max-width:250px;margin:15px;background-color:#1c2227;border-radius:10px;}
    .vl-img{margin-top:-5px;border-radius:10px;margin-bottom:15px;}
    .sec-1>.card>.card-body{padding:0;margin-top:20px;}
    .sec-1>.card>.card-body>a>h5{color:#fff;font-weight:900;text-decoration:none;transition:0.3s;}
    a{text-decoration:none!important;}
    .sec-1>.card>.card-body>a>h5:hover{color:rgb(34, 65, 238);font-weight:900;text-decoration:none!important;transition:0.3s;}
    .b-t-l{color:white;width:40%;float:left;}
    .b-t-r{color:white;width:40%;float:right;text-align:right;}
    .sec-t{margin-top:100px;margin-left:15px;}
    .sec-t>b{font-size:19px;color:rgb(50, 39, 202);}
    .sec-t>h2{font-weight:900;color:#fff;}
    .button-vl{width:150px;background:transparent;border-radius:50px;border:2px solid #fff;transition:0.3s;color:white;font-weight:500;padding:10px;font-size:19px;}
    .button-vl:hover{width:150px;background:rgba(76, 24, 219, 0.933);border-radius:50px;border:2px solid rgba(76, 24, 219, 0.933);transition:0.3s;color:white;font-weight:500;padding:10px;font-size:19px;}
    .avatar{width:50px;height:50px;}
    .avatar>img{width:100%;border-radius:100px;}
    .avatar-text{font-size:16px;color:#888;display:flex;max-width:150px;margin-left:30px;margin-top:-37px;background-color:transparent;text-decoration:none;transition:0.3s;margin-bottom:10px;}
    .avatar-text:hover{font-size:16px;color:#eee;transition:0.3s;text-decoration:none;}
    .sec-1>.card>.card-img-top{margin-top:15px;border-radius:10px;}
    .section-down>.card{background-color:transparent;padding-top:20px;padding-bottom:20px;padding-left:0;padding-right:0;border:0;}
    .section-down>.card>.card-body{padding-left:0;padding-right:0;}
    .section-down>.card>.card-body>h5{color:#ccc;font-weight:900;}
    .section-down>.card>.card-body>h5>i{color:rgb(87, 18, 214);font-size:50px;}
    .section-down>.card>.card-body>p{color:rgb(158, 155, 155);}
    .footer-nav>.nav-link:hover{padding-left:5px;transition:0.3s;}
    .footer-nav>.nav-link{transition:0.3s;}
    .lead-social-menu>a{background-color:rgb(52, 51, 61);padding:8px;border-radius:5px;transition:0.3s;}
    .user-mob{color:white;font-size:20px;text-decoration:none;margin-right:15px;}
    .lead-social-menu>a:hover{background-color:rgb(75, 74, 88);transition:0.3s;}
    .hero-image{background-image:url("https://edeline.ru/nft-demo/assets/img/header.gif");height:100vh;background-position:left;background-repeat:no-repeat;background-size:cover;}
    .hero-image>h1>b{font-size:20px;font-weight:500;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:violet;}
    .hero-image>h1{font-size:70px;padding-top: 18vh;padding-left:10%;font-weight:900;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:#fff;line-height:1.4;}
    .hero-image>h1>label{font-size:17px;font-weight:400;color:violet;margin-top:10px;}
    .hero-image>h1>label>a{font-size:17px;font-weight:600;color:white;text-decoration:none;padding:10px;background-color:transparent;border:2px solid#fff;border-radius:50px;}
    .hero-image>h1>label>a:hover{font-size:17px;font-weight:600;color:white;text-decoration:none;padding:10px;background-color:rgb(87, 4, 196);border:2px solid rgb(87, 4, 196);transition:0.3s;border-radius:50px;}
    body{background:#070a0e;}
    .menu-fix{width:100%;position:fixed;box-shadow:0 0 15px #000;}
    .nav-link:hover{color:thistle!important;}
    ::-webkit-scrollbar{width:10px;}
    ::-webkit-scrollbar-track{background:#182029;}
    ::-webkit-scrollbar-thumb{background:rgba(57, 48, 82, 0.808);}
    ::-webkit-scrollbar-thumb:hover{background:rgba(57, 48, 82, 0.623);transition:0.3s;}
    @media (max-width:1367px){
    .hero-image>h1>b{font-size:20px;}
    .hero-image>h1{font-size:70px;padding-top:18vh;}
    }
    @media (max-width:1024px){
    .hero-image>h1>b{font-size:20px;}
    .hero-image>h1{font-size:70px;padding-top:30vh;}
    }
    @media (max-width:812px){
    .hero-image>h1>b{font-size:20px;}
    .hero-image>h1{font-size:30px;padding-top:26vh;}
    }
    @media (max-width:800px){
    .hero-image>h1>b{font-size:20px;}
    .hero-image>h1{font-size:60px;padding-top:28vh;}
    .sec-1>.card{width:350px!important;margin:10px;}
    }
    @media (max-width:736px){
    .hero-image>h1>b{font-size:20px;}
    .hero-image>h1{font-size:30px;padding-top:28vh;}
    }
    @media (max-width:568px){
    .hero-image>h1>b{font-size:17px;}
    .hero-image>h1{font-size:25px;padding-top:21vh;padding-right:10%;}
    }
    @media (max-width:415px){
    .hero-image>h1>b{font-size:19px;}
    .hero-image>h1{font-size:35px;padding-top:35vh;padding-right:10%;}
    }
    @media (max-width:400px){
    .hero-image>h1>b{font-size:19px;}
    .hero-image>h1{font-size:35px;padding-top:35vh;padding-right:10%;}
    .sec-1>.card{max-width:310px;margin:10px;}
    }
    @media (max-width:321px){
    .hero-image>h1>b{font-size:17px;}
    .hero-image>h1{font-size:25px;padding-top:40vh;padding-right:10%;}
    }
    }
    /*! CSS Used from: Embedded ; media=all */
    @media all{
    .far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
    .fa-cloud-upload-alt:before{content:"\f382";}
    .fa-edit:before{content:"\f044";}
    .fa-long-arrow-alt-right:before{content:"\f30b";}
    .fa-rocket:before{content:"\f135";}
    .fa-shopping-bag:before{content:"\f290";}
    .fa-th-large:before{content:"\f009";}
    .fa-user:before{content:"\f007";}
    .fa-wallet:before{content:"\f555";}
    .far{font-weight:400;}
    .far,.fas{font-family:"Font Awesome 5 Free";}
    .fas{font-weight:900;}
    }
    /*! CSS Used fontfaces */
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8ccewI9tScg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cce5I9tScg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cceyI9tScg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8ccezI9tScg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85gU1EQVg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85pU1EQVg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85iU1EQVg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85jU1EQVg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8GBs5gU1EQVg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8GBs5pU1EQVg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8GBs5iU1EQVg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8GBs5jU1EQVg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Nunito Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.eot);src:url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.woff2) format("woff2"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.woff) format("woff"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.ttf) format("truetype"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-regular-400.svg#fontawesome) format("svg");}
    @font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.eot);src:url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.woff2) format("woff2"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.woff) format("woff"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.ttf) format("truetype"),url(https://ka-f.fontawesome.com/releases/v5.15.4/webfonts/free-fa-solid-900.svg#fontawesome) format("svg");}